@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.closeon {
	/*background-color: green;*/
	font-size: 7px !important;
}

.timeRangeStyle {
	color: blue;
	background-color: transparent!;
	width: auto;
}

.chip-list {
	width: 100%;
}

.fc-transparent-event {
	opacity: 1;
	/* visibility: hidden; */
}

.fc-event .fc-bg {
	color: #E0FFFF;
}

.fc-scrollable-event {
	overflow-y: scroll;
}

.hover-event {
	opacity: 0.5;
}

.full-width {
	left: 0% !important;
	width: 100% !important;
}